* {
    margin: 0px;
    padding: 0px;
}
.row1 {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: center;
}
.top{
    display: inline-flex;
    background-color: black;
    color:burlywood;
    width: 100%;
    height:auto;
    justify-content: space-between;
}
body{
    display: flex;
    justify-content: center;
    background-color: #1a1a1a !important;
}
#calculator{
    display: block;
    background-color: black;
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: -webkit-xxx-large;
    padding:10px;
}
.keys span{
    display: flex;
    justify-content: center;
    margin:10px;
    background-color: rgb(66, 61, 61);
    color:white;
    width: 13%;
    padding: 3px;
}
.keys{
    width: 100%;
}
span.operator{
    background-color: rgb(247, 141, 3) ;
}
span.eval{
    background-color: rgb(247, 141, 3) ;
}
span#clear{
    background-color: rgb(202, 202, 202);
    color:rgb(2, 0, 0);
    width: 13%;
    padding: 3px; 
    display: flex;
    justify-content: center;
    margin:10px;
}
span{
    border-radius: 50%;
}
span.number:hover{
    background-color: rgb(177, 175, 175);
}
span#clear:hover{
    background-color: white;
}
span.operator:hover{
    color: rgb(247, 141, 3) ;
    background-color: rgb(255, 238, 215);
}
span.eval:hover{
    color: rgb(247, 141, 3) ;
    background-color: rgb(255, 238, 215);
}
#screen{
    margin:10px;
}
@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    #calculator {
      width: 60%;
    }
  }
  @media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #calculator {
      width: 80%;
    }
  }
  @media only screen and (max-width: 550px) {
    /* For mobile phones: */
    #calculator {
      width:100%;
    }
  }